@page
@model IndexModel
@{
    ViewData["Title"] = "Laman Utama";
}

<!-- ======= hero Section ======= -->
<div style="margin-top:80px" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="max-height:600px" src="/assets/slider/slider1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="max-height:600px" src="/assets/slider/slider2.jpeg" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img style="max-height:600px" src="/assets/slider/slider3.png" class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item">
      <img style="max-height:600px" src="/assets/slider/Silibus Pengajian SKKB.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
@*<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url(/assets/slider/slider1.png)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">SRI KIBLAH KOTA BHARU</h2>
                            <p class="animate__animated animate__fadeInUp">
                                SELAMAT DATANG KE PORTAL SEKOLAH RENDAH
                                ISLAM (SRI) KIBLAH KOTA BHARU (SKKB)
                            </p>
                            <a asp-page="/borang/borangpendaftaranmurid" class="btn-get-started scrollto animate__animated animate__fadeInUp">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(/assets/img/srikiblah_kotabharu.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">SRI KIBLAH KOTA BHARU</h2>
                            <p class="animate__animated animate__fadeInUp">
                                SELAMAT DATANG KE PORTAL SEKOLAH RENDAH
                                ISLAM (SRI) KIBLAH KOTA BHARU (SKKB)
                            </p>
                            <a asp-page="/borang/borangpendaftaranmurid" class="btn-get-started scrollto animate__animated animate__fadeInUp">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(/assets/slider/slider2.png)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">SRI KIBLAH KOTA BHARU</h2>
                            <p class="animate__animated animate__fadeInUp">
                                SELAMAT DATANG KE PORTAL SEKOLAH RENDAH
                                ISLAM (SRI) KIBLAH KOTA BHARU (SKKB)
                            </p>
                            <a asp-page="/borang/borangpendaftaranmurid" class="btn-get-started scrollto animate__animated animate__fadeInUp">Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>


            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero Section -->
*@
<section data-aos="fade-up">
    <div class="px-4 pt-5 text-center">
        <img class="d-block mx-auto rounded-circle mb-4" src="~/assets/logo/LOGO.jpg" alt="" width="120" height="100">
        <h1 class="h2 fw-bold">PENGENALAN SKKB</h1>
        <div class="col-lg-6 mx-auto">
            <p style="font-size:17px" class="mb-4">
                SKKB ditubuhkan pada tahun 1993 hampir 27 tahun pengalamannya
                telah menjana sistem pendidikan yang bersepadu dan holistik di peringkat
                sekolah rendah dalam melahirkan jiil Al-Quran yang bermanhaj, cemerlang, berdaya saing global, glokal dan universal.
                <br />
                <br />
                Misi SKKB ialah melahirkan generasi muttaqin yang bukan sahaja cemerlang akademik (KPM, tahfiz & Diniyah), tetapi bersahsiah unggul serta pencapaian yang seimbang duniawi dan ukhrawi.
                <br />
                <br />
                Kini, SKKB telah melahirkan murid-murid yang telah mencapai kejayaan sama ada di peringkat negeri, kebangsaan mahupun antarabangsa dalam profesion kerjaya masing-masing (alumni).
            </p>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 pt-3">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/assets/infra/sekitar kwsn depan sekolah.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h3 class=" fw-bold lh-1 mb-3">TAWARAN SKKB</h3>
                <p class="lead">
                    <ul>
                        <li style="text-align: justify;">
                            Sistem pendidikan berintegrasi & bermanhaj; mempunyai
<strong>Kurikulum KSSR</strong> (arus perdana), <strong>Kurikulum YAKIN</strong> (agama)
dan <strong> Tunas Tahfiz.</strong>
                        </li>
                        <li style="text-align: justify;">
                            Yuran Pengajian rendah <strong>(Bulanan RM 220.00)</strong>
                        </li>
                        <li style="text-align: justify;">
                            Sijil UPSRI & UPSRIP diiktiraf YAKIN, PERSIAP, YIK, MAIK dan setanding UPKK (KPM)
                        </li>
                        <li style="text-align: justify;">
                            Waktu persekolahan 7.45 pagi sehingga 4.30 petang <strong>(tiada caj
tambahan sehingga 6.30 petang)- Sesi Pembelajaran
Bersemuka.</strong>  Waktu persekolahan <strong>fleksibel dan berjadual - Sesi
PdPR</strong>
                        </li>
                        <li style="text-align: justify;">
                           Bimbingan bacaan Iqra’ sehingga boleh <strong> membaca & menghafal
al-Quran bertajwid</strong>
                        </li>
                        <li style="text-align: justify;">
                            Menyediakan guru-guru yang berkelayakan, komited dan dedikasi.
                        </li>
                        <li style="text-align: justify;">
                            Kemudahan <strong>masjid, padang</strong> dan kepelbagaian aktiviti
pentarbiyahan dan penghayatan Islam serta <strong>penerapan amalan
sunnah</strong> secara praktikal seperti <strong>solat Dhuha</strong> dan <strong>solat
berjemaah</strong> dengan bimbingan guru.
                        </li>
                        <li style="text-align: justify;">
                            Aktiviti kokurikulum standard dan diiktiraf <strong>PAJSK KPM</strong>
                        </li>
                        <li style="text-align: justify;">
                            Rawatan pemeriksaan gigi dan suntikan imunisasi oleh
Kementerian Kesihatan Malaysia (KKM)
                        </li>
                        <li style="text-align: justify;">
                           <strong>Makanan yang berkhasiat dan bernutrisi</strong> di kantin (makan pagi
dan tengahari).
                        </li>
                        <li style="text-align: justify;">
                           <strong>Kelas Intervensi</strong> bagi murid tidak mencapai KPI minimum.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="px-4 pt-3 text-center">
        <h1 class="h3 fw-bold">SYARAT KEMASUKAN SKKB</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
                <ul>
                    <li style="text-align: justify;">
                        Berusia 7 - 12 tahun
                    </li>
                    <li style="text-align: justify;">
                       Sihat (tiada masalah pembelajaran seperti disleksia, ADHD,
autisme dan yang berkaitan)
                    </li>
                    <li style="text-align: justify;">
                        Lulus temuduga kemasukan
                    </li>
                    <li style="text-align: justify;">
                        Lelaki / Perempuan
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>

<section data-aos="fade-up">
    <div class="px-4 pt-3 text-center">
        <h1 class="h3 fw-bold">SISTEM PENILAIAN SKKB</h1>
        <div class="col-lg-6 mx-auto">
            <p class=" mb-4">
             Sistem Penilaian 3 Dimensi (3D);
<strong>Kurikulum, Kokurikulum</strong> (Sahsiah) & <strong>Penghayatan Islam</strong> (Diniyah)
            </p>
        </div>
    </div>
</section>

<section style="margin-top:39px" data-aos="fade-up">
    <div class="px-4 pt-3 text-center">
        <h1 class="h3 fw-bold">SISTEM PENDIDIKAN
SRI KIBLAH, KOTA BHARU ( SKKB )</h1>
        <div class="col-lg-6 mx-auto">
            <p class=" mb-4 text-left">
        Sistem Pendidikan Sri Kiblah yang merangkumi kurikulum, kokurikulum dan
penghayatan Islam yang membentuk sahsiah Islam
            </p>
           <div>
               <ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto text-start">
      <div class="fw-bold">Kurikulum</div>
     Kurikulum Sri Kiblah menggabungkan Kurikulum Bersepadu Sekolah Rendah
(KBSR) dan Kurikulum Pendidikan Islam (KPI)
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto text-start">
      <div class="fw-bold">Kokurikulum</div>
      Kokurikulum merupakan gerakerja yang dijalankan di dalam dan di luar masa belajar
bagi pengukuhan dan pengkayaan pembelajaran di samping dapat membentuk
jasmani, rohani, akhlak, aqli, disiplin, sosial dan penerapan nilai-nilai terpuji.
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto text-start">
      <div class="fw-bold">Penghayatan Islam
</div>
      Penghayatan Islam dipertanggungjawabkan membentuk sahsiah murid dan budaya
hidup Islam serta memberi penekanan pengukuhan keimanan dan akhlak yang
berteraskan Al-Quran dan As-Sunah
    </div>
  </li>
</ol>
           </div>
        </div>
    </div>
</section>

 
<section data-aos="fade-up">
    <div class="px-4 pt-3 mt-5 text-center">
        <h1 class="h3 fw-bold">SENARAI MATA PELAJARAN</h1>
        <div class="col-lg-12 mx-auto mt-4">
            <img class="img-fluid" src="~/assets/img/mata pelajaran.png" />
        </div>
    </div>
</section>

<!-- ======= Team Section ======= -->
<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h3 class="mt-3">PENGURUSAN</h3>
            <p>Jabatan Pengurusan Yang Sentiasa Tekun, Berdedikasi, Tanggungjawab Serta Amanah</p>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/1GB.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>SUHAINA BINTI ABDULLAH</h4>
                            <span>
                                GURU BESAR
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/2AZMIRA.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>AZMIRA BINTI ISMAIL @@ SALLEH</h4>
                            <span>KETUA JABATAN KURIKULUM
SEKOLAH RENDAH ( KSSR )</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/3HIDAYAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL HIDAYAH BINTI IBRAHIM</h4>
                            <span>
                                KETUA JABATAN KURIKULUM
YAKIN SRI KIBLAH
( KJ KYSK )
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/4ROSLIZA.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ROSLIZA BINTI MAT SHAH</h4>
                            <span>KETUA JABATAN HAL EHWAL
MURID ( KJ HEM )</span>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/5FATHIAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL FATHIAH BINTI ZULKIFLI</h4>
                            <span>KETUA JABATAN
KOKURIKULUM
( KJ KOKU )</span>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/6Maher.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>AHMAD MAHER BIN DIN</h4>
                            <span>KETUA JABATAN TARBIYAH
DAN PENGHAYATAN ISLAM
( KJ TPI )</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->

<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
           <h3>TENAGA PENGAJAR</h3>
            <p>Tenaga pengajar kami sentiasa komited serta tekun dalam memberikan pendidikan komprehensif dan berkualiti</p>
        </div>
         <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img style="max-height:250px" src="~/assets/guru/7AFIDA.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>WAN NOR AFIDA BINTI ABDUL RAHMAN</h4>
                            <span>
                              GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/8ATIKAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NUR ATIKAH BINTI MOHD ADANAN</h4>
                            <span>
                                GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/9NORIAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NORIAH BINTI ABDUL RASYID</h4>
                            <span>
                               GURU
                            </span>
                        </div>
                    </div>
                </div>
           </div>

        </div>

         <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img style="max-height:250px" src="~/assets/guru/10ZAKIAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ZAKIAH BINTI YAACOB </h4>
                            <span>
                              GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/11AIN.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL AIN BINTI OTHMAN </h4>
                            <span>
                                GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/12Rezwan.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>REZWAN BIN MOHD MOHD ZAIN</h4>
                            <span>
                               GURU
                            </span>
                        </div>
                    </div>
                </div>
           </div>

           <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/13Athirah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>SITI NUR ATHIRAH BINTI HASHIM</h4>
                            <span>
                               GURU
                            </span>
                        </div>
                    </div>
                </div>
           </div>

        </div>

        </div>
        </section>

<!-- ======= Aktiviti Section ======= -->
@*<section id="about">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3>Aktiviti</h3>
        </header>

        <div class="row about-cols">

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="about-col">
                    <div class="img">
                        <img style="max-height:300px; width:100%" src="~/assets/aktiviti/16072018/main.jpg" alt="" class="img-fluid">
                        <div class="icon"><img src="~/assets/logo/LOGO.jpg" class="img-fluid rounded-circle" /></div>
                    </div>
                    <h2 class="title"><a asp-page="/skkb/aktiviti/16072018" data-bs-toggle="modal" data-bs-target="#exampleModal">Minggu Sains dan Matematik (SCIMATH)</a></h2>
                    <div class="text-center mb-3">
                        <span class="badge bg-info">16 Julai 2018</span>
                    </div>
                    <p>
                        16-20 July 2018-SRI Kiblah Melaka telah menganjurkan Minggu Sains dan Matematik (SCIMATH).
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>*@<!-- End Aktiviti Section -->
<!-- ======= Infra Section ======= -->
<section id="portfolio" class="section-bg">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3 class="section-title">INFRASTRUKTUR</h3>
        </header>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/infra/sekitar kwsn depan sekolah.jpg" class="img-fluid" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a> Sekitar Kawasan Sekolah</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/infra/Sekitar depan sekolah.jpg" class="img-fluid" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a> Sekitar Kawasan Sekolah</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/infra/Kawasa Parking Luas.jpg" class="img-fluid" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a> Kawasan Parking</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/infra/Laluan Bilik Darjah.jpg" class="img-fluid" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a>Laluan Bilik Darjah</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="~/assets/infra/Luar Masjid.jpg" class="img-fluid" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a>Luar Masjid</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <figure>
                        <img style="height:240px; width:100%" src="~/assets/infra/Pondok Ilmu (Gazebo).jpg" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a>Pondok Ilmu</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <figure>
                        <img style="height:240px; width:100%" src="~/assets/infra/Padang Bola.jpg" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a>Padang Bola</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <figure>
                        <img style="height:240px; width:100%" src="~/assets/infra/Mini Library.jpg" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a>Mini Library</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <figure>
                        <img style="width:100%" src="~/assets/infra/Pavilion serbaguna.jpg" class="img-fluid" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a>Pavilion Serbaguna</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <figure>
                        <img style="height:240px; width:100%" src="~/assets/infra/Pejabat.jpg" class="img-fluid" alt="">
                    </figure>

                    <div class="portfolio-info">
                        <h4><a>Pejabat</a></h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/kantin/Kantin Depan.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Kantin Pandangan Hadapan</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/kantin/Kantin.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Kantin</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/masjid/masjid dekat.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Pandangan Masjid Jarak Dekat</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/masjid/masjid pandangan jauh.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Pandangan Masjid Jarak Jauh</a></h4>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/masjid/GB.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Ruangan Dalam Masjid</a></h4>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/masjid/masjid ruangan dalam.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Ruangan Dalam Masjid</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/masjid/masjid ruangan dalam 2.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Ruangan Dalam Masjid</a></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/dewan/Dewan - luar.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Dewan Luar</a></h4>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/dewan/Dewan - dalam.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Dewan Dalam</a></h4>
                        </div>
                    </div>
                </div>
            </div>

           
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/Bilik Mesyuarat/img6.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Bilik Mesyuarat</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/Bilik Mesyuarat/img7.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Bilik Mesyuarat</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/Bilik Mesyuarat/img8.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Bilik Mesyuarat</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/Bilik guru/img1.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Bilik Guru</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/Bilik guru/img2.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Bilik Guru</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/Bilik guru/img3.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Bilik Guru</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/Bilik guru/img4.jpg" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Bilik Guru</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/kelas/kelas1.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Kelas</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/kelas/kelas2.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Kelas</a></h4>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <div class="portfolio-wrap">
                        <figure>
                            <img style="height:240px; width:100%" src="~/assets/infra/kelas/kelas3.png" class="img-fluid" alt="">
                        </figure>

                        <div class="portfolio-info">
                            <h4><a>Kelas</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Infra Section -->

<section data-aos="fade-up">
    <div class="px-4 pt-5 text-center">
        <img class="d-block mx-auto rounded-circle mb-4" src="~/assets/logo/LOGO.jpg" alt="" width="120" height="100">
        <h1 class="h2 fw-bold">TESTIMONI PELAJAR</h1>
        <div class="col-lg-4 mx-auto">
            <p style="font-size:17px" class="mb-4">
              <div class="ratio ratio-16x9">
  <video src="~/assets/testimoni/Hazrat Omar Rayyan 5H 2021.mp4" class="responsive-iframe" title="YouTube video" controls allowfullscreen></video>
</div>
            </p>
        </div>
        <div class="col-lg-4 mx-auto">
            <p style="font-size:17px" class="mb-4">
              <div class="ratio ratio-16x9">
  <video src="~/assets/testimoni/Hail Zakwan 5H 2021.mp4"  class="responsive-iframe" title="YouTube video" controls allowfullscreen></video>
</div>
            </p>
        </div>
    </div>
</section>

<!-- ======= Contact Section ======= -->
<section style="background-color:#f2f2f2" id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h3>Hubungi Kami</h3>
            <p>Untuk sebarang maklumat dan urusan, sila hubungi nombor seperti yang tertera di bawah</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
  <img src="~/assets/img/pelan.png" class="card-img-top" alt="...">
  <div class="card-body">
  </div>
</div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 100%;">
  <img src="~/assets/img/master layout.png" class="card-img-top" alt="...">
  <div class="card-body">
  </div>
</div>
            </div>
        </div>
        <div class="row mt-5">
           <div class="col-md-4 py-4">
               <div class="card" style="width: 100%; height:250px">
  <div class="card-body text-center">
    <h5 style="color:#ad1457" class="card-title fw-bold">PEJABAT</h5>
    <h6 class="card-subtitle mb-2 mt-3 fw-bold">Puan Siti Noranisah binti Elias</h6>
    <p class="card-text">
        09-7471703
    </p>
     <h6 class="card-subtitle mb-2 fw-bold">Puan Nurul Ain binti Rezali</h6>
    <p class="card-text">
        017-3089205
    </p>
  </div>
</div>
           </div>
             <div class="col-md-4 py-4">
                  <div class="card" style="width: 100%; height:250px">
  <div class="card-body text-center">
    <h5 style="color:#ad1457" class="card-title fw-bold">GURU BESAR</h5>
    <h6 class="card-subtitle mb-2 mt-3 fw-bold">Puan Suhaina binti Abdullah</h6>
    <p class="card-text">
        014-783 6439
    </p>
  </div>
</div>
           </div>
           <div class="col-md-4 py-4">

               <div class="card" style="width: 100%; height:250px">
  <div class="card-body text-center">
    <h5 style="color:#ad1457" class="card-title fw-bold">KETUA JABATAN HAL EHWAL MURID</h5>
    <h6 class="card-subtitle mb-2 mt-3 fw-bold">Puan Rosliza binti Mat Shah</h6>
    <p class="card-text">
        011 1323 5025
    </p>
  </div>
</div>
           </div>
        </div>
    </div>
</section><!-- End Contact Section -->

<!-- ======= Our Clients Section ======= -->
    <section style="margin-top:80px" id="clients">
      <div class="container" data-aos="zoom-in">

        <header class="section-header">
          <h3>Bersekutu</h3>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide text-center"><img src="assets/bersekutu/bersekutu.png" style="height:60px" class="img-fluid" alt=""></div>
            <div class="swiper-slide text-center"><img src="assets/bersekutu/jpk logo.png" style="height:60px" class="img-fluid" alt=""></div>
            <div class="swiper-slide text-center"><img src="assets/bersekutu/logo baru kpm.png" style="height:60px" class="img-fluid" alt=""></div>
            <div class="swiper-slide text-center"><img src="assets/bersekutu/logo_en.png" style="height:60px" class="img-fluid" alt=""></div>
            <div class="swiper-slide text-center"><img src="assets/bersekutu/maik logo-edit-02-02-2017.jpg" style="height:60px" class="img-fluid" alt=""></div>
            <div class="swiper-slide text-center"><img src="assets/bersekutu/mais.jpg" style="height:60px" class="img-fluid" alt=""></div>
            <div class="swiper-slide text-center"><img src="assets/bersekutu/skill.png" style="height:60px" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Our Clients Section -->

