@page
@model kiblah.Pages.skkb.aktiviti._16072018Model
@{
    ViewData["Title"] = "Aktiviti";
}

<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                Aktiviti SKKB
            </h2>
        </div>

    </div>
</section>
<section class="inner-page mt-4">
    <div class="container">
        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src="~/assets/srimelaka/logo/srikotamelaka-logo.jpeg" alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
                Minggu Sains dan Matematik (SCIMATH)
            </h3>
            <p style="color:crimson" class="fw-bold h4 mb-3">
                16 Julai - 20 Julai 2018
            </p>
            <p class="small">
                SRI Kiblah Melaka telah menganjurkan Minggu Sains dan Matematik (SCIMATH).
                Pelbagai aktiviti telah berjaya diadakan termasuklah lawatan ke Planeterium Melaka dan Taman Seribu Bunga.
                Program diakhiri dgn Majlis penutup Penyampaian Hadiah yang dirasmikan oleh Ustaz Hidayat Syafei, Ahli Lembaga Pengelola SRI Kiblah Cawangan Melaka.
            </p>
        </div>
    </div>
</section>
<section data-aos="fade-up" class="pt-1 pb-2">
    <div class="container">
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img style="height:200px; width:100%" src="~/assets/srikotabharu/aktiviti/16072018/img1.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img style="height:200px; width:100%" src="~/assets/srikotabharu/aktiviti/16072018/img2.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img style="height:200px; width:100%" src="~/assets/srikotabharu/aktiviti/16072018/img3.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img style="height:200px; width:100%" src="~/assets/srikotabharu/aktiviti/16072018/img4.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img style="height:200px" src="~/assets/srikotabharu/aktiviti/16072018/img5.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img6.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img7.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img8.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img9.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img10.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img11.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img12.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img13.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img14.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img15.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img16.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img17.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img18.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img19.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img20.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img21.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img22.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img23.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img24.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img25.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img26.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img27.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img28.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img29.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img30.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img31.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img32.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img33.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img34.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img35.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img36.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
        <div class="row row-grid">
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img37.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img38.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img39.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
            <div class="col-xs-6 col-md-3 my-1">
                <figure class="figure">
                    <img src="~/assets/srikotabharu/aktiviti/16072018/img40.jpg"
                         class="figure-img img-fluid rounded">
                </figure>
            </div>
        </div>
    </div>
</section>