@page
@model kiblah.Pages.skkb.informasi.AgendaModel
@{
    ViewData["Title"] = "Agenda Dan Matlamat SKKB";
}
<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                AGENDA DAN MATLAMAT SKKB
            </h2>
        </div>

    </div>
</section>

<section class="inner-page mt-4">
    <div class="container">
        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src="~/assets/logo/LOGO.jpg" alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
                AGENDA DAN MATLAMAT SKKB
            </h3>
            <div class="col-lg-6 mt-5 mx-auto">
                <p class="fw-bold">
                    AGENDA SKKB
                </p>
                <p class="lead mb-4">
                    <ul>
                        <li style="text-align: justify; padding-bottom:16px">
                            Pendidikan berteraskan Al-Quran dan As-Sunnah.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Penerapan aqidah yang benar.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Pentarbiyahan dan bimbingan husnul khuluq.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Pengurusan yang sistematik dan berkualiti.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Ke arah sistem pendidikan holistik
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-6 mx-auto">
                <p class="fw-bold">
                    MATLAMAT UMUM SKKB
                </p>
                <p class="lead mb-4">
                    <ul>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melahirkan murid yang soleh dan solehah.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Membekal serta memantapkan ilmu agama dan akademik.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Menilai serta merealisasikan amalan yang seimbang
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Meningkat dan mengekalkan pencapaian tertinggi dalam bidang pendidikan serta
                            pengurusan dan pentadbiran.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-6 mx-auto">
                <p class="fw-bold">
                    MATLAMAT KHUSUS SKKB
                </p>
                <p class="lead mb-4">
                    <ul>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melahirkan murid yang menguasai ilmu Al-Qur’an dengan baik
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Memastikan murid dapat menguasai kemahiran 3M iaitu membaca, menulis dan
                            mengira.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melahirkan murid yang cemerlang dalam kurikulum, kokurikulum dan sahsiah diri
                            yang islamik.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Meningkatkan daya kreativiti dan bakat murid.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Meningkatkan jumlah bilangan dan peratusan lulus dalam peperiksaan
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Membina dan memupuk semangat berakhlak mulia/ sahsiah Islamiah mengikut
                            sunnah Nabi Muhammad SAW.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melatih murid-murid menunaikan amalan fardhu dan sunat dengan betul secara
                            istiqamah.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melahirkan murid-murid yang berkeyakinan tinggi, berkepimpinan, berdisiplin dan
                            bermoral tinggi.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melahirkan murid yang mematuhi dan setia akan segala perintah Allah SWT.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>