@page
@model kiblah.Pages.skkb.informasi.FalsafahModel
@{
    ViewData["Title"] = "Falsafah Pendidikan";
}

<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                FALSAFAH PENDIDIKAN
            </h2>
        </div>

    </div>
</section>
<section class="inner-page mt-4">
    <div class="container">
        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src="~/assets/logo/LOGO.jpg" alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
                FALSAFAH PENDIDIKAN KEBANGSAAN
            </h3>
            <div class="col-lg-6 mx-auto">
                <p>
                    Pendidikan di Malaysia adalah suatu usaha berterusan ke arah lebih
                    memperkembangkan potensi individu secara menyeluruh dan bersepadu untuk
                    melahirkan insan yang seimbang dan harmonis dari segi intelek, rohani, emosi dan
                    jasmani berdasarkan kepercayaan dan kepatuhan kepada Tuhan. Usaha ini adalah
                    bertujuan untuk melahirkan warganegara Malaysia yang berilmu pengetahuan,
                    berketerampilan, berakhlak mulia, bertanggungjawab dan berkeupayaan mencapai
                    kesejahteraan diri serta memberi sumbangan terhadap keharmonian dan kemakmuran
                    keluarga, masyarakat dan negara.

                </p>
            </div>
        </div>
        <div data-aos="fade-up" class="px-4 py-1 my-1 text-center">
            <h3 class=" fw-bold">
                FALSAFAH PENDIDIKAN
SRI KIBLAH, KOTA BHARU ( FPS )
            </h3>
            <div class="col-lg-6 mx-auto">
                <p>
                   Proses pendidikan berlandaskan Al-Quran dan As-Sunnah
menerusi pendidikan terkini yang sempurna, bersepadu, istiqamah
dan qudwah hasanah bagi membentuk generasi <strong>TAQWA</strong> yang
berilmu, beriman, berakhlak mulia dan berketerampilan serta
berkemampuan membentuk diri dan berkhidmat kepada keluarga,
masyarakat, negara dan ummah yang diredhai Allah di dunia dan di
akhirat.
                </p>
                <p class="fw-bold h5">
                    Kami warga SRI Kiblah, Kota Bharu ( SKKB ) berikrar dan berjanji
untuk:

<p class="mt-3">
    1. Memimpin, mengurus dan mentadbir sekolah dengan lebih cekap
dan
 berkesan
</p>
<p>
 2. Melahirkan generasi muttaqin yang cemerlang dalam akademik.
</p>
<p>
 3. Melahirkan generasi muttaqin yang berbudi pekerti dan berakhlak
mulia.
</p>
<p>
4.  Melahirkan generasi muttaqin yang berkebolehan dalam
kokurikulum
</p>
<p>
5. Mewujudkan prasarana yang selamat, kondusif dan ceria.
</p>
<p>
6.  Menjalin hubungan baik dengan ibu bapa dan komuniti setempat

</p>
            </div>
        </div>
        <div data-aos="fade-up" class="px-4 py-1 my-1 text-center">
            <h3 class=" fw-bold">
                VISI
            </h3>
            <div class="col-lg-6 mx-auto">
                <p>
                    MENJADIKAN SKKB SEBAGAI INSTITUSI
ISLAM HARAPAN NEGARA & UMMAH 
                </p>
            </div>
        </div>
        <div data-aos="fade-up" class="px-4 py-1 my-1 text-center">
            <h3 class=" fw-bold">
                MISI
            </h3>
            <div class="col-lg-6 mx-auto">
                <p>
                   MELAHIRKAN GENERASI MUTTAQIN YANG
CEMERLANG AKADEMIK DAN BERAKHLAK
MULIA
                </p>
            </div>
        </div>
        <div data-aos="fade-up" class="px-4 py-1 my-1 text-center" >
            <h3 class="fw-bold">MOTTO SEKOLAH</h3>
            <p class="col-lg-6 mx-auto">
                "ILMU, AMAL, TAQWA”
            </p>
            <p class="col-lg-6 mx-auto">
                "MURID CEMERLANG, GURU GEMILANG,
SEKOLAH TERBILANG""
            </p>
        </div>
    </div>
</section>
