@page
@model kiblah.Pages.skkb.informasi.NasyidModel
@{
    ViewData["Title"] = " Nasyid Dan Lagu (SKKB)";
}

<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                Nasyid Dan Lagu(SKKB)
            </h2>
        </div>

    </div>
</section>

<section class="inner-page mt-4">
    <div class="container">
        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src=/assets/logo/LOGO.jpg alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
                Nasyid Dan Lagu SRI KIBLAH KOTA BHARU (SKKB)
            </h3>
            <p>
                <h4>Laman Ini Dalam Pembangunan</h4>
            </p>
        </div>
    </div>
</section>
