@page
@model kiblah.Pages.skkb.informasi.PengurusanModel
@{
    ViewData["Title"] = " Kakitangan Dan Pengurusan (SKKB)";
}
<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                Pengurusan, Tenaga Pengajar Dan Kakitangan SRI Kiblah Kota Bharu
            </h2>
        </div>

    </div>
</section>

<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <img class="d-block mx-auto mb-1 rounded-circle" src=/assets/logo/LOGO.jpg alt="" width="100" height="100">
            <h3 class="mt-5">PENGURUSAN</h3>
            <p>Jabatan Pengurusan Yang Sentiasa Tekun, Berdedikasi, Tanggungjawab Serta Amanah</p>
        </div>

<!-- ======= Team Section ======= -->
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/1GB.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>SUHAINA BINTI ABDULLAH</h4>
                            <span>
                                GURU BESAR
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/2AZMIRA.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>AZMIRA BINTI ISMAIL @@ SALLEH</h4>
                            <span>KETUA JABATAN KURIKULUM
SEKOLAH RENDAH ( KSSR )</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/3HIDAYAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL HIDAYAH BINTI IBRAHIM</h4>
                            <span>
                                KETUA JABATAN KURIKULUM
YAKIN SRI KIBLAH
( KJ KYSK )
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/4ROSLIZA.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ROSLIZA BINTI MAT SHAH</h4>
                            <span>KETUA JABATAN HAL EHWAL
MURID ( KJ HEM )</span>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/5FATHIAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL FATHIAH BINTI ZULKIFLI</h4>
                            <span>KETUA JABATAN
KOKURIKULUM
( KJ KOKU )</span>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/6Maher.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>AHMAD MAHER BIN DIN</h4>
                            <span>KETUA JABATAN TARBIYAH
DAN PENGHAYATAN ISLAM
( KJ TPI )</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container" data-aos="fade-up">
        <div class="section-header mt-5">
           <h3>TENAGA PENGAJAR</h3>
            <p>Tenaga pengajar kami sentiasa komited serta tekun dalam memberikan pendidikan komprehensif dan berkualiti</p>
        </div>
         <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img style="max-height:250px" src="~/assets/guru/7AFIDA.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>WAN NOR AFIDA BINTI ABDUL RAHMAN</h4>
                            <span>
                              GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/8ATIKAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NUR ATIKAH BINTI MOHD ADANAN</h4>
                            <span>
                                GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/9NORIAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NORIAH BINTI ABDUL RASYID</h4>
                            <span>
                               GURU
                            </span>
                        </div>
                    </div>
                </div>
           </div>

        </div>

         <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img style="max-height:250px" src="~/assets/guru/10ZAKIAH.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ZAKIAH BINTI YAACOB </h4>
                            <span>
                              GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/11AIN.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL AIN BINTI OTHMAN </h4>
                            <span>
                                GURU
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/12Rezwan.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>REZWAN BIN MOHD MOHD ZAIN</h4>
                            <span>
                               GURU
                            </span>
                        </div>
                    </div>
                </div>
           </div>

           <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/13Athirah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>SITI NUR ATHIRAH BINTI HASHIM</h4>
                            <span>
                               GURU
                            </span>
                        </div>
                    </div>
                </div>
           </div>

        </div>

        </div>

    </div>
</section>

