@page
@model kiblah.Pages.skkb.informasi.PengurusanModel
@{
    ViewData["Title"] = " Kakitangan Dan Pengurusan (SKKB)";
}
<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                Pengurusan, Tenaga Pengajar Dan Kakitangan SRI Kiblah Kota Bharu
            </h2>
        </div>

    </div>
</section>

<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <img class="d-block mx-auto mb-1 rounded-circle" src=/assets/logo/LOGO.jpg alt="" width="100" height="100">
            <h3>PENGURUSAN</h3>
            <p>Jabatan Pengurusan Yang Sentiasa Tekun, Berdedikasi, Tanggungjawab Serta Amanah</p>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img style="max-height:250px" src="~/assets/guru/GB.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>SUHAINA BINTI ABDULLAH</h4>
                            <span>GURU BESAR</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="height:250px; width:100%" src="~/assets/guru/rosliza.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ROSLIZA BINTI MAT SHAH</h4>
                            <span>
                                TIMBALAN GURU BESAR DAN KETUA JABATAN HAL EHWAL
                                MURID ( KJ HEM )
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/fatihah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL FATHIAH BINTI ZULKIFLI</h4>
                            <span>
                                KETUA JABATAN
                                KOKURIKULUM
                                ( KJ KOKU )
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/maher.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>AHMAD MAHER BIN DIN</h4>
                            <span>
                                KETUA JABATAN TARBIYAH
                                DAN PENGHAYATAN ISLAM
                                ( KJ TPI )
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/azmira.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>AZMIRA BINTI ISMAIL @@ SALLEH</h4>
                            <span>
                                KETUA JABATAN KURIKULUM
                                SEKOLAH RENDAH ( KSSR )
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/hidayah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL HIDAYAH BINTI IBRAHIM</h4>
                            <span>
                                KETUA JABATAN KURIKULUM
                                YAKIN SRI KIBLAH
                                ( KJ KYSK )
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>

<!-- ======= Guru Section ======= -->
<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h3>TENAGA PENGAJAR</h3>
            <p>Tenaga pengajar kami sentiasa komited serta tekun dalam memberikan pendidikan komprehensif dan berkualiti</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/afida.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>WAN NOR AFIDA BINTI ABDUL RAHMAN</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/atikah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NUR ATIKAH BINTI MOHD ADANAN</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img style="max-height:250px" src="~/assets/guru/noriah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NORIAH BINTI ABDUL RASYID</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/zakiah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>ZAKIAH BINTI YAACOB</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/ain.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL AIN BINTI OTHMAN</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <img style="max-height:250px" src="~/assets/guru/rezwan.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>REZWAN BIN MOHD MOHD ZAIN</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <img style="max-height:250px" src="~/assets/guru/athirah.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>SITI NUR ATHIRAH BINTI HASHIM</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="team">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h3>KAKITANGAN</h3>
            <p>Kakitangan yang begitu dedikasi dalam menjalankan tugas dengan penuh tanggungjawab</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <img style="max-height:250px" src="~/assets/guru/pembantu tadbir.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>SITI NOR AZNISAH BINTI ELIAS</h4>
                            <span>PEMBANTU TADBIR (OPERASI)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/pembantu tadbir kewangan.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>NURUL AIN BINTI MOHD RAZALI</h4>
                            <span>PEMBANTU TADBIR (KEWANGAN)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <img style="max-height:250px" src="~/assets/guru/amin.png" class="img-fluid" alt="">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>MUHAMMAD AMINUDDIN BIN MD HARUN</h4>
                            <span>TUKANG & GUARD</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
