@page
@model kiblah.Pages.skkb.informasi.PerutusanModel
@{
    ViewData["Title"] = "Perutusan Guru Besar";
}


<!-- ======= Breadcrumbs Section ======= -->
<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">Perutusan Guru Besar</h2>
        </div>

    </div>
</section><!-- End Breadcrumbs Section -->

<section data-aos="fade-up" class="inner-page mt-4">
    <div class="container">
        <div style="font-family: 'Noto Sans Arabic', sans-serif;" class="text-center fw-bold h2 mt-4">
            بسم اللّه الرحمن الرحيم
            <br />
            السلام عليكم ورحمة اللّه وبركاته
        </div>
        <section class="pt-5 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-4 text-center">
                        <a class="story-img" href="#">
                            <img src="~/assets/guru/1GB.png"
                                 style="width:150px;height:180px"
                                 class="rounded-circle mt-3 mb-3 img-fluid">
                        </a>
                    </div>
                    <div style="color:black" class="col-md-10 col-sm-9">
                        <h3 class="fw-bold">
                            SELAMAT DATANG KE PORTAL SEKOLAH RENDAH
                            ISLAM (SRI) KIBLAH KOTA BHARU (SKKB)
                        </h3>
                        <p>
                            <h2>Laman Ini Dalam Pembangunan</h2>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>

