@page
@model kiblah.Pages.skkb.informasi.PiagamModel
@{
    ViewData["Title"] = "Piagam Pelanggan";
}

<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                PIAGAM PELANGGAN SRI KIBLAH KOTA BHARU (SKKB)
            </h2>
        </div>

    </div>
</section>

<section class="inner-page mt-4">
    <div class="container">
        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src="~/assets/logo/LOGO.jpg" alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
                PIAGAM PELANGGAN SRI KIBLAH KOTA BHARU (SKKB)
            </h3>
            <div class="col-lg-6 mx-auto">
                <p class="fw-bold">
                    Seluruh warga SKKB dengan ini berjanji akan memberikan perkhidmatan terbaik dalam:
                </p>
                <p class="lead mb-4">
                    <ul>
                        <li style="text-align: justify; padding-bottom:16px">
                            Bersedia memberi layanan mesra kepada semua pihak yang berurusan
dengan pihak sekolah.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                           Memastikan program pendidikan dilaksanakan dengan berkesan selaras
dengan visi dan misi.

                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                           Memberi pengajaran yang lengkap dalam pendidikan AlQuran.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Membentuk sahsiah murid mengikut kehendak Islam.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                           Bersedia memberi perkhidmatan yang bermutu dan produktif ke arah
kecemerlangan pendidikan.
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                           Memastikan murid dapat belajar dengan selesa dan mendapat didikan yang
bersepadu dan sempurna.

                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                          Menyediakan aktiviti tambahan yang bersesuaian bagi meningkatkan
kemahiran diri murid.

                        </li>
                        <li style="text-align: justify;  padding-bottom:16px"">
                           Mewujudkan kemudahan persekitaran yang harmoni, tenteram dan
bersesuaian dengan murid.

                        </li>
                         <li style="text-align: justify;  padding-bottom:16px"">
                           Meningkatkan kecemerlangan yang berterusan dalam semua bentuk
penilaian.

                        </li>

                         <li style="text-align: justify;">
                           Mewujudkan semangat kerjasama yang padu antara keluarga pendidik, PIBG
dan masyarakat. 

                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>