@page
@model kiblah.Pages.skkb.informasi.PiagamModel
@{
    ViewData["Title"] = "Piagam Pelanggan";
}

<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                PIAGAM PELANGGAN SRI KIBLAH KOTA BHARU (SKKB)
            </h2>
        </div>

    </div>
</section>

<section class="inner-page mt-4">
    <div class="container">
        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src="~/assets/logo/LOGO.jpg" alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
                PIAGAM PELANGGAN SRI KIBLAH KOTA BHARU (SKKB)
            </h3>
            <div class="col-lg-6 mx-auto">
                <p class="fw-bold">
                    Seluruh warga SKKB dengan ini berjanji akan memberikan perkhidmatan terbaik dalam:
                </p>
                <p class="lead mb-4">
                    <ul>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melaksanakan segala arahan Kementerian Pendidikan Malaysia (KPM), Seksyen
                            Institusi Pendidikan Islam Swasta (IPIS) Bahagian Pengurusan Pendidikan Jabatan
                            Agama Islam Melaka (JAIM) dan Pejabat Pendidikan Daerah (PPD)
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Membentuk pasukan pengurusan yang kreatif, inovatif, proaktif dan mempunyai
                            daya juang yang tinggi serta dihormati oleh semua pihak
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Menyediakan layanan yang mesra dan bertanggungjawab kepada ibu, bapa,
                            penjaga dan murid
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Melestarikan pengajaran dan pembelajaran dengan optimum kepada semua
                            murid
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Memberi bimbingan ke arah kecerdasan mental dan fizikal bagi melahirkan insan
                            yang seimbang jasmani, emosi, rohani dan intelek
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Menumpukan kepada peningkatan pencapaian akademik, sahsiah diri dan
                            kokurikulum dalam membentuk kemenjadian murid
                        </li>
                        <li style="text-align: justify; padding-bottom:16px">
                            Membimbing murid ke arah pembentukan sahsiah terpuji berorientasikan
                            AlQuran dan AsSunnah
                        </li>
                        <li style="text-align: justify;">
                            Mewujudkan suasana sekolah yang bersih, selamat serta mempunyai budaya
                            penyayang
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>