@page
@model kiblah.Pages.skkb.informasi.SejarahModel
@{
    ViewData["Title"] = " Sejarah SRI KIBLAH KOTA BHARU (SKKB)";
}

<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                SEJARAH SRI KIBLAH KOTA BHARU (SKKB)
            </h2>
        </div>

    </div>
</section>

<section class="inner-page mt-4">
    <div class="container">

        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src="~/assets/logo/LOGO.jpg" alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
              SEJARAH SKKB
SEKOLAH RENDAH ISLAM (SRI) KIBLAH
KOTA BHARU, KELANTAN
            </h3>
            <p>
                Tanggal 30 Julai 1992 merupakan detik tercetusnya satu ilham untuk
menubuhkan sebuah sekolah rendah beraliran agama dan akademik.
Lalu terbentuklah sebuah Jawatankuasa Pengasas untuk
membincangkan penubuhan sekolah yang diimpikan
            </p>
            <p>
                Pada 24 Jun 1993, Majlis Agama Islam Kelantan (MAIK) telah
meluluskan penubuhan sekolah tersebut, kemudian diikuti oleh Jabatan
Pendidikan Negeri (JPN) pada tahun 1999 (SRS 04006).
            </p>
            <p>
                Sekolah Rendah Islam Kiblah atau lebih dikenali dengan nama
SRI Kiblah mula beroperasi pada 5 Disember 1993 (bagi sesi pengajian
1993/94) di bangunan sementara (Kolej Budaya Bunut Payong) dengan
jumlah murid seramai 28 orang dan 5 orang kakitangan yang terdiri
daripada empat orang guru dan seorang kakitangan sokongan.
            </p>
            <p>
                Pada 12 Disember 1993, sekolah ini telah berpindah ke bangunan
baharu, iaitu di sebuah banglo yang terletak di Jalan Telipot,
Kota Bharu.

            </p>
            <p>
                Pada tahun 1994, Ahli Lembaga Pengelola telah dibentuk bagi
mengurus serta mengendalikan segala pentadbiran sekolah. Kemudian
pada sesi pengajian 1996, sekali lagi SRI Kiblah berpindah ke Jalan
Pekeliling sehingga 1997.
            </p>
            <p>
                Mulai sesi 1998, SRI Kiblah beroperasi di bangunan tetap beralamat
691, Paya Senang, Jalan Telipot, 15150 Kota Bharu, Kelantan sehingga
kini.
            </p>
            <p class="mt-5">
                <img style="max-height:600px" alt="image" class="img-fluid"
                     src="~/assets/img/sejarah.png">
            </p>
        </div>

          <h3 class=" fw-bold mt-4 text-center">
              PROJEK PEMBANGUNAN
SRI KIBLAH, KOTA BHARU ( SKKB )
            </h3>
            <p class="text-center">
                Yayasan Kebajikan Nusantara ( YAKIN ) dan Ahli Lembaga SRI
Kiblah telah merancang projek pembangunan SRI Kiblah bertujuan
untuk kemudahan pengurusan, kemajuan perjalanan SRI Kiblah,
khasnya dan bagi mencapai matlamat Pendidikan Islam, amnya.

            </p>
            <p class="text-center">
                Diantaranya perancangan :
Fasa Pertama : Membeli tapak dan bangunan yang sedia ada yang
bernilai dua juta
<br />
Fasa Kedua : Membina bangunan baharu yang bernilai 7 Juta
            </p>
            <p class="fw-bold text-center">
                Justeru itu, usaha untuk mencapai cita-cita dan hasrat ini,
YAKIN dan Ahli Lembaga SKKB amat-amat memerlukan
sumbangan sama ada dalam bentuk nasihat, doa, tenaga,
kewangan dan apa jua bentuk sumbangan daripada semua pihak
            </p>

    </div>
</section>
