@page
@model kiblah.Pages.skkb.informasi.YuranModel
@{
    ViewData["Title"] = " Yuran SRI KIBLAH KOTA BHARU (SKKB)";
}

<section style="background-color:#464444" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fw-bold text-white">
                YURAN SRI KIBLAH KOTA BHARU (SKKB)
            </h2>
        </div>

    </div>
</section>

<section class="inner-page mt-4">
    <div class="container">
        <div data-aos="fade-up" class="px-4 py-3 my-3 text-center">
            <img class="d-block mx-auto mb-1 rounded-circle" src="~/assets/logo/LOGO.jpg" alt="" width="100" height="100">
            <h3 class=" fw-bold mt-4">
                YURAN SRI KIBLAH KOTA BHARU (SKKB)
            </h3>
            <p>
                <img style="max-height:500px" alt="image" class="img-fluid"
                     src="~/assets/yuran/yuran.png">
            </p>
        </div>
    </div>
</section>
